/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
/*
.editBMPanel_locationRow {
  display: initial !important;
}
*/

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
  display: none !important;
}
*/

@import url(custom/chrome/hide_list_all_tabs.css);
@import url(custom/chrome/container_line_under_icon.css);
@import url(custom/chrome/oneline_layout.css);
@import url(custom/chrome/private_icon_as_menu.css);
@import url(custom/chrome/hide_visual_search_indicator.css);
