:root {
  --border-radius-medium: 5px !important;
  --tab-border-radius: 5px !important;
  --toolbarbutton-border-radius: 5px !important;
  --tab-group-label-size: 28px !important;
  --tab-margin-block: 4px !important;
}

.tab-group-label {
  border-radius: var(--tab-border-radius) !important;
}
