:root {
  --navbar-width: 500px;
  --tabbar-min-width: 300px;
  --urlbar-expand-side-margin: 12px;
  --tab-block-margin: 2px !important;
  --toolbar-start-end-padding: 4px !important;
}

/* simplify interfaces */
#toolbar-menubar,
.titlebar-spacer,
#back-button,
#forward-button,
#urlbar-zoom-button,
#page-action-buttons > hbox:not(#star-button-box),
#tracking-protection-icon-container {
  display: none !important;
}

#pinned-tabs-container {
  margin-inline-end: 0px !important;
}

#urlbar-container {
  padding-inline-start: 0px !important;
}

/* flex layout of tool bar */
#navigator-toolbox {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  border: none !important;
}

#TabsToolbar {
  order: 1;
  flex: 1 1 auto !important;
  min-width: var(--tabbar-min-width) !important;
}

#nav-bar {
  order: 2;
  flex: 0 1 var(--navbar-width) !important;
  background: none !important;
  box-shadow: none !important;
  max-width: var(--navbar-width) !important;
}

#PersonalToolbar {
  order: 3;
  flex: 1 1 100% !important;
}

/* push navigation bar to second row when browser width is too small */
@media (max-width: 800px) {
  #nav-bar {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
    margin-left: 0 !important;
  }
}

/* expand navigation bar to full width when tab bar are hidden */
#navigator-toolbox[tabs-hidden] #nav-bar,
#TabsToolbar[collapsed] ~ #nav-bar {
  flex: 1 1 100% !important;
  max-width: 100% !important;
  min-width: 0 !important;
  margin-left: 0 !important;
}

/* extend URL bar to full width when clicked */
#urlbar[breakout][breakout-extend] {
  left: var(--urlbar-expand-side-margin) !important;
  margin-left: 0px !important;
  width: calc(100% - 2 * var(--urlbar-expand-side-margin)) !important;
}
